@model CoffeTownNET8.Modelos.Categoria

@{
    ViewData["Title"] = "Editar tipo";
}


<form method="post" asp-action="Edit">
    <div class="card">
        <div class="card-body">
            <h2 class=" card-header text-center" style="background-color: transparent">Editar tipo de café</h2>
            <div class="row  px-2 mt-2">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <!-- Columna para la imagen -->
                <div class="col-md-4">
                    <img src="~/img/tazacafe-crear.png" alt="TazaCafe" class="img-fluid" />
                </div>

                <!-- Columna para el formulario -->
                <div class="col-md-8 mt-4 d-flex flex-column justify-content-between">
                    <div class="form-group row">
                        <div class="col-4">
                            <label asp-for="Nombre" class="control-label"></label>
                        </div>
                        <div class="col-8">
                            <input asp-for="Nombre" class="form-control" placeholder="Ingrese un nombre para el tipo de café" />
                            <span asp-validation-for="Nombre" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-4">
                            <label asp-for="Orden" class="control-label"></label>
                        </div>
                        <div class="col-8">
                            <input asp-for="Orden" class="form-control" placeholder="Ingrese el orden" />
                            <span asp-validation-for="Orden" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row mt-auto">
                        <div class="col">
                            <partial name="_VistaEditarVolver" />
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

