<div class="row mt-2">
    <div class="col">
        <button type="submit" class="btn form-control" style="background-color: #c96442; color: white; font-size: 16px; outline: none; box-shadow: 0 0 0 0.1rem black;" onFocus="this.style.boxShadow = '0 0 0 0.2rem black)'">Guardar &nbsp<i class="fas fa-save"></i></button>
    </div>
    &nbsp;
    <div class="col">
        <a asp-action="Index" class="btn btn-secondary form-control" style="outline: none; box-shadow: 0 0 0 0.1rem black;" onFocus="this.style.boxShadow = '0 0 0 0.2rem black)'">Volver a la lista &nbsp; <i class="fas fa-reply"></i></a>
    </div>
</div>
