@{
    ViewData["Title"] = "Lista de Productos";
}


<div style="padding-top: 130px;">
    <div class="container">
        <div class="container mt-4">
            <div class="row">
                <div class="col-8">
                    <h1 class="text-primary">Lista de Productos</h1>
                </div>
                <div class="col-4 text-right">
                    <a asp-action="Create" class="btn btn-secondary" style="outline: none; box-shadow: 0 0 0 0.1rem black;" onFocus="this.style.boxShadow = '0 0 0 0.2rem black)'">Crear nuevo Producto<i class="fa-solid fa-plus mx-2"></i></a>
                </div>
            </div>
            <br />
            <table id="tblProductos" class="table table-secondary table-hover table-striped table-bordered" style="width: 100%; ">
                <thead>
                    <tr>
                        <th class="text-center">Nombre</th>
                        <th class="text-center">Precio</th>
                        <th class="text-center">Tipo</th>
                        <th class="text-center">Acciones</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/productos.js"></script>
}

