@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Acceso denegado";
}

<style>
    header {
        padding: 350px;
        text-align: center;
    }
</style>

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Tú no tienes acceso a esta página.</p>
</header>
